# be 8 bit clean
set meta-flag on
set output-meta on
set convert-meta off
set input-meta on
set convert-meta off

# configure completetion
set show-all-if-unmodified on
set completion-ignore-case on

set visible-stats on
set mark-symlinked-directories on

# Up/Down keys for history
"\e[A": history-search-backward         # Up arrow
"\e[B": history-search-forward          # Down arrow

# Other keys
"\e[3~": delete-char
